body {
    font-family: "League Spartan", sans-serif;
}
/* Header */
.navbar-brand img {
    width: 250px;
}
.nav-item .nav-link {
    color: #b42380 !important;
}
/* Header end */
.principal-banner {
    padding: 90px 0px;
    background: url(../imagenes/bg_banner_principal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}
.text-banner {
    color: #f534b0;
}
.text-banner h1 {
    font-weight: 700;
}
.text-banner p {
    font-size: 20px;
}

.social-network img,
.social-network-footer img {
    width: 30px;
    margin: 10px;
}

/* About me */
.about-me {
    padding: 50px 0px;
    height: 300px;
    background-color: white;
    color: #b42380;
}
.title-about {
    text-align: center;
    margin: auto;
}
.text-about {
    margin: auto;
}
.text-about-me {
    font-size: 20px;
}
.button-about-me a {
    margin-top: 10px;
    background-color: black;
    border: black;
    color: white;
    transition: all 0.5s;
}

.button-about-me a:hover {
    margin-top: 10px;
    border: black;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
/* About me end */
/* Skills */
.skills {
    padding: 100px 0;
}
.skills h2 {
    text-align: center;
}
.skills-item h3 {
    text-align: center;
}
.circle-wrap {
    margin: 60px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill,
.circle-wrap .circle .fill-60,
.circle-wrap .circle .fill-50,
.circle-wrap .circle .fill-30 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: white;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: 300;
    font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill,
.mask .fill-60,
.mask .fill-50,
.mask .fill-30 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #f534b0;
}

.mask.full,
.circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
}

.mask.full,
.circle .fill-60 {
    animation: fill-60 ease-in-out 3s;
    transform: rotate(180deg);
}

.mask.full,
.circle .fill-50 {
    animation: fill-50 ease-in-out 3s;
    transform: rotate(150deg);
}
.mask.full,
.circle .fill-30 {
    animation: fill-30 ease-in-out 3s;
    transform: rotate(60deg);
}

@keyframes fill {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}
@keyframes fill-60 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes fill-50 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(150deg);
    }
}
@keyframes fill-30 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(60deg);
    }
}
/* Skills end */

/* Education */
.education {
    background-color: #f534b0;
    padding: 100px 0;
}
.education-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.education-courses {
    margin: 0;
    padding: 0;
}
.education-courses li {
    list-style: none;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.education-courses li img {
    width: 150px;
}
.education-courses li h3 {
    font-size: 25px;
    color: #b42380;
    text-transform: uppercase;
}
/* Education end*/
/* Portafolio */
.portafolio {
    padding: 100px 0;
    background: white;
}
.portafolio-container h2 {
    text-align: center;
    margin-bottom: 60px;
}
.portafolio a {
    margin-top: 10px;
    background-color: black;
    border: black;
    color: white;
    transition: all 0.5s;
}

.portafolio a:hover {
    margin-top: 10px;
    border: black;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
/* Portafolio end*/
footer {
    padding: 50px 0;
    background: black;
    text-align: center;
}
footer h2 {
    color: white;
}

@media (max-width: 768px) {
    .principal-banner {
        background: url(../imagenes/bg_banner_principal-mobile.jpg);
    }
}
