@if $enable-transitions {
    @keyframes progress-bar-stripes {
      0% { background-position-x: $progress-height; }
    }
  }
.principal-banner {
    padding: 70px 0px;
    background-color: aqua;
    height: 400px;
    text-align: center;
}
.button-contact{
    margin-top: 50px;
}

.about-me{
    padding: 50px 0px;
    background-color:wheat;
}

.experience-skills{
    background-color: deeppink;
    height: 300px;
}