.principal-banner {
    padding: 70px 0px;
    background-color: aqua;
    height: 400px;
    text-align: center;
}
.button-contact{
    margin-top: 50px;
}

.about-me{
    padding: 50px 0px;
    background-color:papayawhip;
}

.experience-skills{
    background-color:lightgray;
    height: 300px;
}

.education{
    height: 400px;
    background-color:rgba(255, 192, 203, 0.651);
}